<?xml version="1.0"?>
<robot name="robotino" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include files -->
  <xacro:include filename="$(find ro_slam_with_uwb)/urdf/robotino_body.xacro"/>
  <xacro:include filename="$(find ro_slam_with_uwb)/urdf/robotino_hardware.xacro"/>

  <xacro:robotino_body />
</robot>