<?xml version="1.0"?>

<launch>
    <arg name="rosbag_args" value="--all --lz4 --output-prefix=$(find ro_slam_with_uwb)/bags/Record" />

    <!-- Nodes -->
    <node
        name="rosbag_node" pkg="rosbag" type="record"
        output="screen"
        args="$(arg rosbag_args)" />

    <!-- Includes -->
    <include file="$(find ro_slam_with_uwb)/launch/robotino.launch" />
    <include file="$(find ro_slam_with_uwb)/launch/sick_tim.launch" />
    <include file="$(find ro_slam_with_uwb)/launch/beacon_publisher.launch" />
    <include file="$(find ro_slam_with_uwb)/launch/xbox_teleop.launch" />
</launch>
