<?xml version="1.0"?>

<launch>
    <arg name="open_rviz" default="true" />
    <!-- File ist broken: Unconnected tf trees because of the LaserScanMatcher.
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/2017-11-13-16-22-33.bag" />

    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/2017-11-15-13-44-05.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-12-24-50.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-12-31-28.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-12-33-03.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-12-34-10.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-12-36-25.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-12-41-35.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-13-25-18.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-13-25-38.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-13-28-16.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-13-31-05.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-11-17-13-33-13.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-12-18-11-50-57.bag" />
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-12-18-11-53-54.bag" />
    -->
    <arg name="rosbag_bagfile" value="$(find ro_slam_with_uwb)/bags/Record_2017-12-18-11-53-54.bag" />
    <arg name="rosbag_args" value="--loop --clock --delay=0" />

    <!-- Parameter -->
    <param name="/use_sim_time" value="true" />

    <!-- Nodes -->
    <node
        name="rosbag_node" pkg="rosbag" type="play"
        output="screen"
        args="$(arg rosbag_bagfile) $(arg rosbag_args)" />

    <!-- Include -->
    <!-- -->
    <include file="$(find ro_slam_with_uwb)/launch/mrpt_rbpf_slam.launch" />
    <!-- -->
    <group if="$(arg open_rviz)">
        <include file="$(find ro_slam_with_uwb)/launch/rviz.launch" />
    </group>
</launch>